
<ng-include src="'templates/header.html'"></ng-include>

<br>
<div class="col-md-8 col-sm-8">	        



  	<div class="box" style="border-radius: 0; padding-top: 8px;">
  		<div class="box-header">
  			<h3 class="box-title">Top Questions</h3>
  		
				<a href="#/askQuestion" class="btn btn-lg btn-info pull-right">Ask Question</a>        		
  		</div>
  		<div class="box-body">

    <form class="navbar-form navbar-left" role="search">
        <div class="input-group input-group-md gorm-group">
          <input type="text" ng-model="notice_key" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button ng-click="searchForums()" class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
              </span>
        </div>          
    </form>


		<ul class="products-list product-list-in-box">
			<li class="item" ng-repeat="x in forums">
              <div class="product-img">
                <a href=""> <img src="http://waforapp.wuletaw/assets/img/default-50x50.gif" class="img img-circle" alt="Product Image" /></a>
				  </div>
              <div class="product-info">
                <a href="" ng-click="openQuestion(x.fid)" class="product-title">{{x.forum_question}}</a>
                  <span class="product-description pull-right">{{x.date_asked}}</span>
                <span class="product-description">{{x.first_name+' '+x.middle_name}}</span>
              </div>
            </li>
            <!-- /.item -->
          </ul>


   		</div>
   	</div>
</div>

